<main>
  
    <div class="container marketing">
  
      <div class="row">
        <div class="col-lg-3">
          <img src="/assets/f.elconfidencial.com_original_317_ae0_456_317ae0456e63bd37ce7fa809d5955672.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200" alt="...">
          <h2>Persona1</h2>
          <p>Informacion de la persona, su edad,su telefono y lugar donde estudia.</p>
          <p><a class="btn btn-secondary" href="#">Ver más »</a></p>
        </div>
        <div class="col-lg-3">
          <img src="/assets/5-habitos-personas-felices.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200" alt="...">
          <h2>Persona2</h2>
          <p>Informacion de la persona, su edad,su telefono y lugar donde estudia.</p>
          <p><a class="btn btn-secondary" href="#">Ver más »</a></p>
        </div>
        <div class="col-lg-3">
          <img src="/assets/geriatria.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200" alt="...">
          <h2>Persona3</h2>
          <p>Informacion de la persona, su edad,su telefono y lugar donde estudia.</p>
          <p><a class="btn btn-secondary" href="#">Ver más »</a></p>
        </div>
      </div>
    </div>
 
  </main>