<div class="bd-example">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Organizacion</th>
          <th scope="col">Sede</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Persona1</th>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
  
          <tr class="table-primary">
            <th scope="row">Persona2</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">Persona3</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-success">
            <th scope="row">Persona4</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">Persona5</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">Persona6</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-info">
            <th scope="row">Persona7</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-light">
            <th scope="row">Persona8</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">Persona9</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
      </tbody>
    </table>
  </div>